includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: method.alreadyNarrowedType
    paths:
        - src
        - database
        - tests
